@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(20, 20, 20);
  color: white;
  font-family: 'Martel Sans', sans-serif;
  position: relative;
}